/* customScrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4d4d4; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round edges of the scrollbar thumb */
    border: 2px solid #f1f1f1; /* Padding around the scrollbar thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bbb; /* Color when hovering over the scrollbar thumb */
  }
  
  /* Firefox specific styles */
  .custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #d4d4d4 #f1f1f1; /* For Firefox */
  }
  